### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control
.idea/
target/
lib_managed/
project/boot/
.history
.cache

# sbt specific
.lib/
dist/*
project/plugins/project/
